#holder{
	width:500px;
	height:500px;
	background-color:rgb(135,208,233);
	margin:auto;
	position:relative;
	padding:15px;
	border-radius:5%;

}
body{
	background-color:#F3F3F3
}
#imeKviza{
	text-align:center;
	font-size:32pt;
	color:red;
	font-family:courgette;
}
#labelIme{
	position:absolute;
	left:50%;
	top:25%;
	transform:translate(-50%,-50%)
}
#inputIme{
	position:absolute;
	left:50%;
	top:30%;
	transform:translate(-50%,-50%)

}
#btnPotvrdi{
	position:absolute;
	left:50%;
	top:40%;
	transform:translate(-50%,-50%)
}
#btnRezultati{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%)
}
#pitanje{
	max-height:150px;
	height:auto;
	font-size:25px;
	margin:20px;
	padding:15px;
	border-radius:5px;
	background-color:#fff
}
.odgovor{
	margin:15px;
	padding:15px;
	border:1px solid blue;
	border-radius:5px;
	flex-grow:1;
	cursor:pointer;
	background-color:#fffd;
	
}
.odgovorh:hover{
	border:1px dashed #444;
	background-color:#fff3;
	
}
#timer{
	width:100%;
	min-height:10px;
}
#QIA{
	height:100%;
	display:flex;
	flex-direction:column;
}
.btn{
	margin:5px auto;
	height:40px;
	width:150px;
	color:white;
	background-color:#222;
	display:inline-block;
	border-radius:10%;
	cursor:pointer;
	
}
.btn:hover{
	background-color:#2226
}
.tacan{
	background-color:green;
}
.netacan{
	background-color:red;
}
#inputOdg{
	margin:5px auto;
	width:200px;
	height:20px;
	
}
ol{
    font-size: 25px;
}
